<ons-page id="pokemon">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" id="page-title">Loading...</div>
  </ons-toolbar>
  <ons-progress-bar indeterminate id="loader"></ons-progress-bar>

  <ons-card>
    <div class="card-loader" id="loader-img">
      <ons-progress-circular indeterminate></ons-progress-bar>
    </div>
    <div class="card-loader" id="loader-img">
      <img src="" id="card-image" alt="Cool Pokemon" style="display: none;" />
    </div>
    <div class="title" id="card-title"></div>
    <div class="content">
      <ons-list id="card-list" style="display: none;">
      </ons-list>
    </div>
  </ons-card>
</ons-page>
